/* Custom colors */
/* Primary theme color - change this to represent your OFN instance: */
/* Secondary theme colors */
/* Mixins */
/* homepage */
/* homepage bg tile */
#header-navigation.index-v2 .cactus-wraper-slider-bg .background-color-1 {
  background-image: url("../img/tile-wide.png");
  background-repeat: no-repeat;
  background-position: bottom center; }

.header-v2.slider .text-content .text-3.font-1 {
  display: none; }
.header-v2.slider .text-content .text-2.font-3 {
  text-align: center;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 82px;
  margin-top: 40px; }

.home-support {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: rgba(136, 187, 126, 0.2);
  padding-left: 30px;
  padding-right: 30px; }
  .home-support p {
    font-size: 1.41176em;
    font-weight: 300; }
  @media all and (min-width: 992px) {
    .home-support {
      padding-left: 60px;
      padding-right: 60px; } }

.home-brand-story {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 30px;
  padding-right: 30px; }
  .home-brand-story p {
    font-size: 1.41176em;
    font-weight: 300; }
  .home-brand-story .hidden-content {
    display: none; }
  @media all and (min-width: 992px) {
    .home-brand-story {
      padding-left: 60px;
      padding-right: 60px; } }

.home-demographics {
  padding-top: 2em;
  padding-bottom: 2em; }
  .home-demographics img.home-demographic {
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    width: 20%;
    opacity: 1; }
    .home-demographics img.home-demographic:hover, .home-demographics img.home-demographic:focus, .home-demographics img.home-demographic:active {
      opacity: 0.7; }
    @media all and (min-width: 1024px) {
      .home-demographics img.home-demographic {
        width: 50%; } }
  .home-demographics .vc_col-sm-4.vc_column_container {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(97, 161, 215, 0.1); }
    @media all and (min-width: 768px) and (max-width: 1024px) {
      .home-demographics .vc_col-sm-4.vc_column_container {
        width: 100%; } }
  .home-demographics .vc_column_container:nth-child(1) {
    background-color: rgba(97, 161, 215, 0.1); }
  .home-demographics .vc_column_container:nth-child(2) {
    background-color: rgba(97, 161, 215, 0.15); }
  .home-demographics .vc_column_container:nth-child(3) {
    background-color: rgba(97, 161, 215, 0.2); }

.home-infographic {
  padding-top: 2em;
  padding-bottom: 2em; }
