/* navbar */
#off-canvas.background-color-2, #header-navigation.background-color-2 {
  background-color: #88bb7e; }

.home-support {
  padding-top: 2em;
  padding-bottom: 2em; }

.home-brand-story {
  padding-top: 2em;
  padding-bottom: 2em; }

.home-demographics {
  padding-top: 2em;
  padding-bottom: 2em; }

.home-infographic {
  padding-top: 2em;
  padding-bottom: 2em; }
