.clear,
.megaMenu-metaBox .howto{
	font-size:10px;
	
}
.menu-item-depth-0 .wpmega-custom{
	display:none;
}
.wpmega-isheader{
	display:none;
}
.menu-item-depth-2 .wpmega-isheader{
	display:block;
}

.wpmega-custom{
	/*display:block !important;*/
}
.wpmega-custom .description{
	size:11px;
}

.set-menu-item-thumb,
.remove-item-thumb{
	font-size:11px;
}

.megaMenu-metaBox{
	padding:0px 0px 0px 0px;
}
.megaMenu-metaBox label.menu-item-title{
	clear:both;
	display:block;
}
.megaMenu-metaBox .button-controls{
	text-align:right;
}

.wpmega-atts{
	clear:both;
}

.wpmega-shortcode .ss-desc{
	display:block;
}
.wpmega-custom textarea{
	display:block;
	width:100%;
	height:26px;
	-webkit-transition:height .3s ease-in-out;
}
.wpmega-custom textarea:focus{
	height:60px;
}

.wpmega-custom-all{
	clear:both;
	padding-top:10px;
}

.ss-info-container{
	
	background: #222; /* Old browsers */
	background: #222 -moz-linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%); /* FF3.6+ */
	background: #222 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.1)), color-stop(100%,rgba(0,0,0,.1))); /* Chrome,Safari4+ */
	background: #222 -webkit-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%); /* Chrome10+,Safari5.1+ */
	background: #222 -o-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%); /* Opera11.10+ */
	background: #222 -ms-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%); /* IE10+ */
	background: #222 linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%); /* W3C */
	
	display:inline-block;
	margin-left:5px;
	padding:0px;
	font-size:8px;
	width:16px;
	height:16px;
	border-radius:8px;
	border:1px solid #fff;
	
	color:#fff;
	text-align:center;
	font-weight:bold;
	
	text-shadow:0px -1px 1px #000;
	font-style:normal;
}

.ss-info-container{
	position:relative;
	top:-2px;
}
.ss-info-container .ss-info{
	display:none;
	position:absolute;
	left:120%;
	top:-10px;
	width:300px;
	padding:10px;
	font-weight:normal;
	font-size:11px;
	text-align:left;
	
	background: #111; /* Old browsers */
	background: #111 -moz-linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%); /* FF3.6+ */
	background: #111 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.1)), color-stop(100%,rgba(0,0,0,.1))); /* Chrome,Safari4+ */
	background: #111 -webkit-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%); /* Chrome10+,Safari5.1+ */
	background: #111 -o-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%); /* Opera11.10+ */
	background: #111 -ms-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%); /* IE10+ */
	background: #111 linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%); /* W3C */
	
	color:#fff;
	text-shadow:none;
	border:1px solid #000;
	box-shadow:0px 1px 1px rgba(255,255,255,.3);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.ss-info-container:hover{
	z-index:30;
}
.ss-info-container:hover .ss-info{
	display:block;	
}


.wpmega-l0,
.wpmega-l0-plus,
.wpmega-l1,
.wpmega-l1-plus,
.wpmega-l2,
.wpmega-l2-plus{
	display:none;
}
.wpmega-l0.wpmega-displayLogic{display:block}

li.menu-item-depth-0 .wpmega-l0,
li.menu-item-depth-0 .wpmega-l0-plus,
li.menu-item-depth-1 .wpmega-l1,
li.menu-item-depth-1 .wpmega-l1-plus,
li.menu-item-depth-1 .wpmega-l0-plus,
li.menu-item-depth-2 .wpmega-l2,
li.menu-item-depth-2 .wpmega-l2-plus,
li.menu-item-depth-2 .wpmega-l1-plus,
li.menu-item-depth-2 .wpmega-l0-plus,
li.menu-item-depth-3 .wpmega-l3,
li.menu-item-depth-3 .wpmega-l3-plus
li.menu-item-depth-3 .wpmega-l2-plus,
li.menu-item-depth-3 .wpmega-l1-plus,
li.menu-item-depth-3 .wpmega-l0-plus,
li.menu-item-depth-4 .wpmega-l4,
li.menu-item-depth-4 .wpmega-l4-plus,
li.menu-item-depth-4 .wpmega-l3-plus,
li.menu-item-depth-4 .wpmega-l2-plus,
li.menu-item-depth-4 .wpmega-l1-plus,
li.menu-item-depth-4 .wpmega-l0-plus{
	display:block;
}




/* Textarea */

#wpmega-style-css textarea{
	clear:both;
	width:100%;
	padding:10px;
	margin-top:10px;
	border-radius:0;
	
	-webkit-transition: height .2s ease-in-out;
	-moz-transition: height .2s ease-in-out;
	transition: height .2s ease-in-out;
	
	font-family:monospace;
}

#wpmega-style-css textarea[readonly]{
	height:200px;
	opacity:.6;
}



#container-wpmega-style .ss-admin-op-radio label{
	font-weight:bold;
	padding-left:5px;
}
#container-wpmega-style .ss-admin-op-radio label .ss-admin-op-radio-desc{
	font-weight:normal;
	clear:both;
	display:block;
	color:#999;
	padding-left:20px;
}

/* STYLE GENERATOR */

#spark-style-gen label.ss-admin-op-title{
	float:left;
	width:250px;
}

#spark-style-gen .container-type-text input[type="text"]{
	padding:8px;
	border-radius:0;
	width:52px;
	border:1px solid #ddd;
}

#megaMenu{
	margin-top:10px;
}
#megaMenu .widget{
	box-shadow:none;
}



/** SS-TOGGLE **/
.ss-toggle-onoff{
	/*float:left;
	clear:left;*/
	
	font-size:10px;
	
	width:79px; /*81px;*/
	height:20px;
	box-shadow: inset 1px 1px 3px #666;
	-moz-box-shadow: inset 1px 1px 3px #666;
	-webkit-box-shadow: inset 1px 1px 3px #666;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	
	border:1px solid #ddd;
	border-color:#ddd #aaa #ddd #ddd;
	overflow:hidden;
	display:block;
	position:relative;
}
.ss-toggle-onoff span.ss-toggle-inner{
	width:130px;
	height:20px;
	position:relative;
	display:block;
}
.ss-toggle-onoff.off span.ss-toggle-inner{
	margin-left:-51px;
}
.ss-toggle-onoff span{
	height:20px;
	line-height:20px;
	position:absolute;
	top:0px;
	display:inline-block;
	text-align:center;
	color:#fff;
	text-shadow:0px -1px 1px #222;
	text-transform:uppercase;
	font-weight:bold;
}
.ss-toggle-onoff span.ss-toggle-on{
	width:45px;
	left:0px;
	padding-right:5px;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FE', endColorstr='#2B70DC'); /* for IE */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FE', endColorstr='#2B70DC')"; /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#6FB2FF), to(#4D90FE)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #4D90FE,  #2B70DC);
	
	
	box-shadow: inset 1px 1px 3px #2B70DC;
	-moz-box-shadow: inset 1px 1px 3px #2B70DC;
	-webkit-box-shadow: inset 1px 1px 3px #2B70DC; /*3061a8;*/
	
	border-radius: 2px 0px 0px 2px;
	-moz-border-radius: 2px 0px 0px 2px;
	-webkit-border-radius: 2px 0px 0px 2px;
	
	text-shadow:0px -1px 1px #2B70DC;
	
	padding-right:5px;
}
.ss-toggle-mid{
	width:30px;
	height:18px;
	left:50px;
	top:-1px;
	border:1px solid #999;
	border-color:#eee #aaa;
	border-width:1px 1px 1px 1px;
	z-index:20;
		
		
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#f9f9f9'); /* for IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#f9f9f9')"; /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#f9f9f9)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e4e4e4,  #f9f9f9);
	
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;	
	
	-moz-box-shadow:0px 0px 3px rgba(0,0,0,.5);
	-webkit-box-shadow:0px 0px 3px rgba(0,0,0,.5);
	box-shadow:0px 0px 3px rgba(0,0,0,.5);	
	
	position:relative;
}
.ss-toggle-mid:after{
	content:' ';
	position:absolute;
	width:12px;
	height:8px;
	display:block;
	top:5px;
	left:9px;
	border: 1px #ccc;
	
	background: 
		-webkit-repeating-linear-gradient(
			left,
			#ddd 1px,
			#ddd 2px,
			transparent 2px,
			transparent 5px			
		);
	background: 
		-moz-repeating-linear-gradient(
			left,
			#ddd 1px,
			#ddd 2px,
			transparent 2px,
			transparent 5px			
		);
	background: 
		repeating-linear-gradient(
			left,
			#ddd 1px,
			#ddd 2px,
			transparent 2px,
			transparent 5px			
		);
}
.ss-toggle-onoff span.ss-toggle-off{
	width:50px;
	padding-left:5px;
	left:75px;	
	z-index:10;	
	color:#666;
	text-shadow:0px 1px 1px #fff;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#fcfcfc'); /* for IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#fcfcfc')"; /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fcfcfc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eee,  #fcfcfc);
}

.ss-tog-label{
	line-height:20px;
	padding-left:90px;
	display:block;
	font-weight:bold;
	font-size:11px;
	
	margin-bottom:5px;
}

.spark-preview-close{
	float:right;
	width:16px;
	height:16px;
	background:transparent url(../sparkoptions/images/cross.png) top left no-repeat;
	cursor:pointer;
}



.set-menu-item-thumb img{
	max-width:100px;
}

#spark-image-config{
	
}

.spark-panel{
	min-height:700px;
}

.spark-nav .basic-notice{
	display:none;
}



/* Infobox */
.spark-infobox,
.spark-infobox.error{
	clear:both;
	padding:15px 15px;
	color: #4F8A10;
	background: #DFF2BF;
	border: 1px solid #4F8A10;
	border-radius:0;
}
.spark-infobox h4{
	color:inherit;
	margin:0 0 0px 0;
	font-weight:bold;
	text-transform: uppercase;
	font-size:12px;
}
.spark-infobox .spark-admin-op-desc{
	color: #4F8A10;
}
.spark-infobox h4 + .spark-admin-op-desc{
	margin-top:10px;
}

.spark-infobox.spark-infobox-warning{	
	border:1px solid #DDB723;	
	background: #FFEA73;
	color: #A63C00;
}
.spark-infobox.spark-infobox-warning .spark-admin-op-desc{
	color: #A63C00;
}