$OFN-grey: #808284
$OFN-dark-grey: #616466
$OFN-green: #88bb7e
$OFN-blue: #61a1d7

@mixin padding
	padding-top: 2em
	padding-bottom: 2em

/* navbar  & homepage - custom color */
#off-canvas, #header-navigation
	&.background-color-2
		background-color: $OFN-green

.home-support
	@include padding
	// border-top: 1px solid red
	// border-bottom: 1px solid red
	// background-color: rgba(red, 0.1)

.home-brand-story
	@include padding
	// border-top: 1px solid blue
	// border-bottom: 1px solid blue
	// background-color: rgba(blue, 0.1)

.home-demographics
	@include padding
	// img
	img.home-demographic
		padding: 0em 3em

	// column
	.vc_column_container
		padding-top: 2em
		padding-bottom: 2em
		background-color: rgba($OFN-blue, 0.1)
	.vc_column_container:nth-child(1)
		background-color: rgba($OFN-blue, 0.1)
	.vc_column_container:nth-child(2)
		background-color: rgba($OFN-blue, 0.15)
	.vc_column_container:nth-child(3)
		background-color: rgba($OFN-blue, 0.2)

	// border-top: 1px solid yellow
	// border-bottom: 1px solid yellow
	// background-color: rgba(yellow, 0.1)

.home-infographic
	@include padding
	// border-top: 1px solid green
	// border-bottom: 1px solid green
	// background-color: rgba(green, 0.1)